<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DashboardWeb.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="_content/Arcadia.Theme/css/arcadia.css" rel="stylesheet" />
    <link href="_content/Arcadia.Charts/css/arcadia-charts.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body style="background-color: #292929; color: white;">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>