@page "/"
@using System.Timers
@implements IDisposable
@rendermode InteractiveServer
@using Arcadia.Charts.Components.Charts
@using Classes



<PageTitle>Informations</PageTitle>

<h1>Informations</h1>

@foreach (IHardwareUsage hardware in _hardwaresUsage)
{
    <ArcadiaGaugeChart Value="@hardware.CurrentUsage" Min="0" Max="@hardware.GetMaxUsage()" Title="@hardware.Title" Width="200" Height="160" Color="@hardware.Color"
                       StrokeWidth="15" />
}

@code {
    private Timer _timer = new Timer() { Interval = 1000, AutoReset = true, Enabled = true };
    private IList<IHardwareUsage> _hardwaresUsage = new List<IHardwareUsage>();

    protected override void OnInitialized()
    {
        BuildParams(new CpuUsage() { Title = "CPU Usage %", Color = "#D60000" });
        BuildParams(new RamUsage() { Title = "RAM Usage Go", Color = "#A1F2FF" });
        BuildParams(new DiskUsage() { Title = "Disk Usage Go", Color = "#D300FF" });
        BuildParams(new BatteryStatus() { Title = "Battery %", Color = "#56FF12" });

        _timer.Elapsed += GetHardwareInfo;
    }

    private void BuildParams(IHardwareUsage hardware)
    {
        _hardwaresUsage.Add(hardware);
    }

    public void GetHardwareInfo(object? sender, ElapsedEventArgs e)
    {
        _ = InvokeAsync(() =>
        {
            foreach(IHardwareUsage hardware in _hardwaresUsage){
                hardware.GetCurrentUsage();
            }
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        _timer.Dispose();
    }

}


