@page "/ia"
@rendermode InteractiveServer
@using System.Diagnostics
@using Classes
@using Services

<PageTitle>Home IA</PageTitle>

<h1 class="title">Home IA</h1>

<h3 class="load-model">Models à charger</h3>

<div class="button-container">
    @foreach (Model model in _loadModelService.LoadAvailableModels())
    {
        <button class="btn-style" @onclick="e => LoadModel(model.ModelPath)">@model.ModelName</button>
    }

    <button class="btn-style btn-eject" @onclick="UnLoadModel">Ejecter</button>
</div>

@code {
    private UnLoadModelService _unLoadModelService = new UnLoadModelService();
    private LoadModelService _loadModelService = new LoadModelService();
    private static string _selectedModel = string.Empty;
    private static bool _isLoaded = false;

    public void LoadModel(string path)
    {
        if (!_isLoaded)
        {
            _selectedModel = path;
            _isLoaded = true;
            ProcessRunner.Run("/bin/bash", path);
        }
    }

    public void UnLoadModel()
    {
        if (!string.IsNullOrEmpty(_selectedModel) && _isLoaded)
            _unLoadModelService.UnLoad(_selectedModel);
        _selectedModel = string.Empty;
        _isLoaded = false;
    }

}